face_recognition-master/
.venv/
__pycache__/
build/
dist/
student_tagger_app/data/cache/
student_tagger_app/data/processed/
student_tagger_app/data/Tagged Photos/
student_tagger_app/data/uploads/
student_tagger_app/data/student_tagger.sqlite3
